/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*
    Flaticon icon font: Flaticon
    Creation date: 20/11/2017 16:19
    */
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("../fonts/Flaticon.woff") format("woff"), url("../fonts/Flaticon.ttf") format("truetype"), url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg"); } }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: "Flaticon";
  font-style: normal; }

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

.flaticon-add:before {
  content: "\f100"; }

.flaticon-link-1:before {
  content: "\f101"; }

.flaticon-link:before {
  content: "\f102"; }

.flaticon-chain-links:before {
  content: "\f103"; }

.flaticon-technology-2:before {
  content: "\f104"; }

.flaticon-pc-search:before {
  content: "\f105"; }

.flaticon-user-network:before {
  content: "\f106"; }

.flaticon-computer-1:before {
  content: "\f107"; }

.flaticon-people:before {
  content: "\f108"; }

.flaticon-shopping:before {
  content: "\f109"; }

.flaticon-security-shield:before {
  content: "\f10a"; }

.flaticon-network:before {
  content: "\f10b"; }

.flaticon-technology-1:before {
  content: "\f10c"; }

.flaticon-technology:before {
  content: "\f10d"; }

.flaticon-verification-mark:before {
  content: "\f10e"; }

.flaticon-left-chevron:before {
  content: "\f10f"; }

.flaticon-computer:before {
  content: "\f110"; }

.flaticon-twitter-logo-silhouette:before {
  content: "\f111"; }

.flaticon-linkedin-logo:before {
  content: "\f112"; }

.flaticon-facebook:before {
  content: "\f113"; }

.container {
  margin: 0 auto;
  max-width: 945px;
  width: 100%; }

header {
  margin: 0 auto;
  max-width: 945px;
  width: 100%;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header #logo {
    float: left; }
    header #logo a {
      display: inline-block;
      width: 265px;
      height: 75px; }
      header #logo a img {
        width: 100%;
        height: auto; }
  header #main-navigation {
    float: right; }
    header #main-navigation ul {
      display: flex;
      align-items: center; }
      header #main-navigation ul li {
        float: left;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase; }
        header #main-navigation ul li a {
          padding: 0 16px;
          color: #777777;
          font-size: 15px;
          text-decoration: none;
          -webkit-transition: font-weight 0.5s ease-in-out;
          /* For Safari 3.1 to 6.0 */
          transition: font-weight 0.5s ease-in-out; }
          header #main-navigation ul li a:hover {
            color: #555;
            font-weight: 600; }
        header #main-navigation ul li button {
          height: 45px;
          width: 220px;
          padding: 1px;
          padding-right: 18px;
          background-color: #e39030;
          color: #fff;
          border-radius: 25px;
          border: 2px solid #fff;
          box-shadow: 0 0 0 1px #e39030;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
          -webkit-transition: box-shadow 0.5s ease-in-out;
          /* For Safari 3.1 to 6.0 */
          transition: box-shadow 0.5s ease-in-out; }
          header #main-navigation ul li button:hover {
            box-shadow: none; }
          header #main-navigation ul li button p {
            display: inline-block;
            line-height: 22px; }
          header #main-navigation ul li button span {
            float: right;
            font-size: 22px; }

.slider {
  height: 465px;
  position: relative;
  overflow: hidden; }
  .slider .blur-filter {
    position: absolute;
    width: 100%;
    height: 465px;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(15px);
    filter: blur(15px);
    background-image: url("../assets/img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .slider .slider-text {
    position: relative;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    padding: 136px 0;
    z-index: 999;
    text-align: center;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
    color: #fff; }
    .slider .slider-text h1 {
      font-size: 50px;
      line-height: 55px; }
    .slider .slider-text h3 {
      font-size: 34px;
      padding-bottom: 30px; }
    .slider .slider-text .divider {
      margin-bottom: 25px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
    .slider .slider-text p {
      font-size: 18px;
      line-height: 24px;
      font-weight: 500; }

.services {
  margin: 65px 0 60px 0;
  float: left;
  width: calc(100% / 3);
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  color: #555555; }
  .services .title {
    margin-bottom: 20px; }
    .services .title span {
      font-size: 38px;
      color: #43bfa2; }
    .services .title h4 {
      padding-left: 15px;
      display: inline-block;
      font-size: 20px;
      vertical-align: super;
      font-weight: 700; }
  .services p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 16px; }
  .services button {
    width: 225px;
    height: 40px;
    margin-top: 20px;
    padding: 0 10px;
    color: #4cb9a3;
    border: 1px solid #4cb9a3;
    border-radius: 25px;
    background-color: transparent;
    -webkit-transition: background-color 0.5s ease-in-out;
    /* For Safari 3.1 to 6.0 */
    transition: background-color 0.5s ease-in-out;
    cursor: pointer; }
    .services button span {
      float: left;
      font-size: 17px; }
    .services button p {
      display: inline-block;
      font-size: 13px;
      line-height: 13px;
      vertical-align: text-top; }
    .services button:hover {
      background-color: #4cb9a3;
      color: #fff; }

.services-users-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#48b4a6+0,122539+100 */
  background: #48b4a6;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #48b4a6 0%, #122539 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #48b4a6 0%, #122539 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #48b4a6 0%, #122539 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#48b4a6', endColorstr='#122539',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding-top: 35px;
  padding-bottom: 55px;
  font-family: 'Varela Round', sans-serif;
  color: #fff; }
  .services-users-gradient h4 {
    margin-left: 5px;
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 700; }
  .services-users-gradient .service-user {
    position: relative;
    width: calc((100% - 84px) / 7);
    height: 98px;
    margin: 5px;
    padding: 20px 0;
    float: left;
    border: 1px solid #fff;
    border-radius: 10px;
    text-align: center; }
    .services-users-gradient .service-user h5 {
      font-size: 14px;
      padding: 0 10px; }
    .services-users-gradient .service-user p {
      position: absolute;
      bottom: 20px;
      width: 100%; }
      .services-users-gradient .service-user p span {
        font-size: 65px; }
  .services-users-gradient .active {
    height: 112px;
    margin-top: -2;
    box-shadow: 0 5px 0 0px rgba(255, 255, 255, 0.5);
    color: #5496a4;
    background-color: #fff; }

.selected-user-service-gradient {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c1e8dd+0,90b0b4+100 */
  background: #c1e8dd;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #c1e8dd 0%, #90b0b4 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #c1e8dd 0%, #90b0b4 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #c1e8dd 0%, #90b0b4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c1e8dd', endColorstr='#90b0b4',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  padding: 40px 0;
  position: relative;
  text-align: center; }
  .selected-user-service-gradient .text-fix {
    text-align: initial; }
  .selected-user-service-gradient .selected-user-service {
    width: calc(100% / 2);
    float: left;
    font-family: 'Varela Round', sans-serif; }
    .selected-user-service-gradient .selected-user-service h4 {
      font-size: 20px;
      font-weight: 700;
      color: #555555; }
    .selected-user-service-gradient .selected-user-service p {
      font-size: 14px;
      line-height: 20px;
      color: #0b6a7d; }
    .selected-user-service-gradient .selected-user-service:first-child p {
      padding: 30px 75px 0 0; }
    .selected-user-service-gradient .selected-user-service:last-child p {
      line-height: 28px; }
    .selected-user-service-gradient .selected-user-service:last-child span {
      margin-right: 15px; }
  .selected-user-service-gradient .triangle {
    position: absolute;
    top: -25px;
    margin-left: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 22.5px 25px 22.5px;
    border-color: transparent transparent #a5c9c6 transparent; }

.customers {
  font-family: 'Varela Round', sans-serif;
  color: #555555; }
  .customers .title {
    position: relative; }
    .customers .title h4 {
      padding: 40px 0 30px 0;
      font-size: 20px;
      font-weight: 700;
      color: #555555;
      border-bottom: 1px solid #dddddd; }
    .customers .title .arrows-box {
      width: 70px;
      height: 25px;
      font-size: 25px;
      color: #555555;
      display: inline-block;
      position: absolute;
      right: 55px;
      bottom: -12.5px;
      background-color: #fff;
      text-align: center; }
      .customers .title .arrows-box span {
        cursor: pointer; }
      .customers .title .arrows-box .rotate::before {
        -ms-transform: rotate(180deg);
        /* IE 9 */
        -webkit-transform: rotate(180deg);
        /* Chrome, Safari, Opera */
        transform: rotate(180deg); }
  .customers .content {
    margin-top: 30px; }
    .customers .content .image {
      width: 172px;
      height: 120px;
      float: left;
      background-image: url("../assets/img/customer-1.jpg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
    .customers .content .text {
      width: calc(100% - 172px);
      float: left; }
      .customers .content .text h5 {
        margin-bottom: 10px;
        font-size: 15px; }
      .customers .content .text p {
        font-size: 12px;
        line-height: 22px; }

.full-divider {
  margin-top: 100px;
  border-bottom: 1px solid #dddddd; }

.partners {
  margin: 30px 0 65px 0;
  font-family: 'Varela Round', sans-serif; }
  .partners .title {
    margin-bottom: 30px; }
    .partners .title h4 {
      display: inline-block;
      font-size: 20px;
      font-weight: 700;
      color: #555555; }
    .partners .title .button-container {
      display: inline-block;
      float: right;
      width: 240px;
      margin-top: -52.5px;
      text-align: center;
      background-color: #fff; }
      .partners .title .button-container button {
        height: 45px;
        width: 220px;
        padding: 1px;
        padding-right: 18px;
        background-color: #e39030;
        color: #fff;
        border-radius: 25px;
        border: 2px solid #fff;
        box-shadow: 0 0 0 1px #e39030;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        -webkit-transition: box-shadow 0.5s ease-in-out;
        /* For Safari 3.1 to 6.0 */
        transition: box-shadow 0.5s ease-in-out; }
        .partners .title .button-container button:hover {
          box-shadow: none; }
        .partners .title .button-container button p {
          display: inline-block;
          line-height: 22px; }
        .partners .title .button-container button span {
          float: right;
          font-size: 22px; }
  .partners .partner {
    width: calc(100% / 7);
    float: left; }
    .partners .partner img {
      margin: 0 auto;
      width: 125px;
      height: 125px;
      border: 1px solid #cdcdcd;
      border-radius: 20px; }

.contact {
  position: relative;
  height: 495px;
  overflow: hidden; }
  .contact .blur-filter {
    position: absolute;
    width: 100%;
    height: 495px;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-filter: url(#blur-filter);
    filter: url(#blur-filter);
    -webkit-filter: blur(15px);
    filter: blur(15px);
    background-image: url("../assets/img/footer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .contact .contact-inner {
    position: relative;
    margin-top: 50px;
    font-family: 'Varela Round', sans-serif; }
    .contact .contact-inner .contact-contaier {
      width: calc((100% - 100px) / 2);
      float: left;
      margin-right: 50px; }
      .contact .contact-inner .contact-contaier h4 {
        margin-bottom: 30px;
        font-size: 20px;
        color: #fff; }
      .contact .contact-inner .contact-contaier:first-child h4 {
        font-weight: 700; }
      .contact .contact-inner .contact-contaier:first-child p {
        margin-bottom: 15px; }
      .contact .contact-inner .contact-contaier:first-child button {
        width: 225px;
        height: 40px;
        padding: 0;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 25px;
        color: #fff;
        font-family: 'Varela Round', sans-serif;
        -webkit-transition: background-color 0.5s ease-in-out;
        /* For Safari 3.1 to 6.0 */
        transition: background-color 0.5s ease-in-out; }
        .contact .contact-inner .contact-contaier:first-child button:hover {
          background-color: #fff;
          color: rgba(0, 0, 0, 0.4); }
      .contact .contact-inner .contact-contaier:last-child p {
        padding: 10px 0 10px 0;
        font-size: 14px;
        color: #fff; }
        .contact .contact-inner .contact-contaier:last-child p .title {
          width: 110px;
          display: inline-block; }
      .contact .contact-inner .contact-contaier:last-child p:not(:last-of-type) {
        border-bottom: 1px solid #fff; }
      .contact .contact-inner .contact-contaier:last-child .social {
        margin-top: 30px; }
        .contact .contact-inner .contact-contaier:last-child .social span {
          margin-right: 10px;
          width: 45px;
          height: 45px;
          display: inline-block;
          background-color: #fff;
          border-radius: 50%;
          font-size: 24px;
          text-align: center;
          opacity: 0.5; }
          .contact .contact-inner .contact-contaier:last-child .social span:before {
            line-height: 45px; }
      .contact .contact-inner .contact-contaier input {
        width: 100%;
        padding: 15px;
        font-size: 14px;
        color: #0b6a7d;
        border: none;
        border-radius: 25px;
        outline: none; }
      .contact .contact-inner .contact-contaier ::-webkit-input-placeholder {
        /* Chrome */
        color: #0b6a7d;
        font-size: 14px; }
      .contact .contact-inner .contact-contaier :-ms-input-placeholder {
        /* IE 10+ */
        color: #0b6a7d;
        font-size: 14px; }
      .contact .contact-inner .contact-contaier ::-moz-placeholder {
        /* Firefox 19+ */
        color: #0b6a7d;
        font-size: 14px;
        opacity: 1; }
      .contact .contact-inner .contact-contaier :-moz-placeholder {
        /* Firefox 4 - 18 */
        color: #0b6a7d;
        font-size: 14px;
        opacity: 1; }
      .contact .contact-inner .contact-contaier textarea {
        width: 100%;
        padding: 15px;
        font-size: 14px;
        color: #0b6a7d;
        border: none;
        border-radius: 25px;
        resize: none;
        outline: none; }

.footer-nav-container {
  padding: 40px 0;
  font-family: 'Varela Round', sans-serif;
  font-size: 14px;
  color: #858585; }
  .footer-nav-container p {
    display: inline-block; }
    .footer-nav-container p a {
      color: #666666; }
  .footer-nav-container strong {
    font-weight: 700;
    color: #666666; }
  .footer-nav-container #footer-navigation ul li {
    float: left; }
    .footer-nav-container #footer-navigation ul li a {
      color: #858585;
      padding-right: 25px;
      text-decoration: none;
      -webkit-transition: font-weight 0.5s ease-in-out;
      /* For Safari 3.1 to 6.0 */
      transition: font-weight 0.5s ease-in-out; }
      .footer-nav-container #footer-navigation ul li a:hover {
        color: #555;
        font-weight: 600; }

footer {
  border-bottom: 5px solid #dddddd; }
